.custom-navbar {

    background: white;

    padding: 4px 10px;

    min-height: 45px;

    box-shadow:
        0 2px 15px rgba(0,0,0,.08);
}

.logo-img {

    width: 60px;

    height: auto;
}

.logo-title {

    margin: 0;

    font-size: 1.8rem;

    font-weight: 700;
}

.logo-subtitle {

    color: #6c757d;

    font-size: .5rem;
}

/* ================= HERO ================= */

.hero-section {

    min-height: 80vh;

    display: flex;

    align-items: center;
}

.hero-title {

    font-size: 3.8rem;

    font-weight: 800;

    line-height: 1.2;
}

.hero-highlight {

    color: #0d6efd;
}

.hero-description {

    font-size: 1.15rem;

    color: #6c757d;

    margin-top: 20px;
}

.hero-image {

    max-width: 100%;

    border-radius: 20px;

    box-shadow:
        0 15px 40px rgba(0,0,0,.15);
}
.feature-card {
    transition: .3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.stats-section {
    background: #0d6efd;
    color: white;
    padding: 60px 0;
}

.stats-section h2 {
    font-weight: 700;
}

.cta-section {
    background: linear-gradient(
        135deg,
        #0d6efd,
        #3d7eff
    );

    color: white;
    padding: 40px 15;
}

.footer-section {
    background: #212529;
    color: white;
    padding: 15px 0;
}

/* ================= LOGIN MODAL ================= */

.login-overlay {

    position: fixed;

    inset: 0;

    background: rgba(0,0,0,.55);

    backdrop-filter: blur(8px);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 9999;
}

.login-modal {

    width: 420px;

    max-width: 90%;

    background: white;

    border-radius: 20px;

    padding: 35px;

    position: relative;

    box-shadow:
        0 25px 60px rgba(0,0,0,.25);

    animation: popup .3s ease;
}

@keyframes popup {

    from {

        opacity: 0;

        transform:
            translateY(-20px)
            scale(.95);
    }

    to {

        opacity: 1;

        transform:
            translateY(0)
            scale(1);
    }
}

.close-btn {

    position: absolute;

    top: 15px;

    right: 18px;

    border: none;

    background: transparent;

    font-size: 24px;

    cursor: pointer;

    color: #666;
}

.close-btn:hover {

    color: #000;
}

.login-heading {

    color: #0d6efd;

    font-weight: 700;
}

.login-input {

    height: 50px;

    border-radius: 12px;

    border: 1px solid #ddd;
}

.login-input:focus {

    border-color: #0d6efd;

    box-shadow:
        0 0 10px rgba(13,110,253,.2);

    outline: none;
}

.login-button {

    height: 50px;

    border-radius: 12px;

    font-size: 17px;

    font-weight: 600;
}